<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>Success</servlet-name>
    <servlet-class>org.xyz.controller.Success</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>org.xyz.controller.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>org.xyz.controller.Register</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterSuccess</servlet-name>
    <servlet-class>org.xyz.controller.RegisterSuccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Success</servlet-name>
    <url-pattern>/Success</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterSuccess</servlet-name>
    <url-pattern>/RegisterSuccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainPage</display-name>
    <servlet-name>MainPage</servlet-name>
    <servlet-class>org.xyz.controller.MainPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainPage</servlet-name>
    <url-pattern>/MainPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountCreation</display-name>
    <servlet-name>AccountCreation</servlet-name>
    <servlet-class>org.xyz.controller.AccountCreation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountCreation</servlet-name>
    <url-pattern>/AccountCreation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>org.xyz.controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepositeWithdrawalPage</display-name>
    <servlet-name>DepositeWithdrawalPage</servlet-name>
    <servlet-class>org.xyz.controller.DepositeWithdrawalPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositeWithdrawalPage</servlet-name>
    <url-pattern>/DepositeWithdrawalPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepositeWithdrawal</display-name>
    <servlet-name>DepositeWithdrawal</servlet-name>
    <servlet-class>org.xyz.controller.DepositeWithdrawal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositeWithdrawal</servlet-name>
    <url-pattern>/DepositeWithdrawal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FundTransferPage</display-name>
    <servlet-name>FundTransferPage</servlet-name>
    <servlet-class>org.xyz.controller.FundTransferPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FundTransferPage</servlet-name>
    <url-pattern>/FundTransferPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FundTransfer</display-name>
    <servlet-name>FundTransfer</servlet-name>
    <servlet-class>org.xyz.controller.FundTransfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FundTransfer</servlet-name>
    <url-pattern>/FundTransfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransactionSummary</display-name>
    <servlet-name>TransactionSummary</servlet-name>
    <servlet-class>org.xyz.controller.TransactionSummary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionSummary</servlet-name>
    <url-pattern>/TransactionSummary</url-pattern>
  </servlet-mapping>
</web-app>