table {
	border: 1px solid black;
}
th{
	background: #009b32;
	color: white;
	font-size: 1.1em;
	padding: 10px;
}
td{
	padding: 5px 15px 5px 15px;
}
td .numeric{
	text-align :right;
}
td .textual{
	text-align :left;
}
caption {
	color: #00cd45;
	font-size: 1.2em;
}