<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Register</title>
<link type="text/css" rel="stylesheet" href="../style/mainpage.css"></link>
<link type="text/css" rel="stylesheet" href="../style/style.css"></link>
<script src="../script/validateCustomer.js"></script>
</head>
<body>
<h1 class="heading">Capg Banking</h1>
<div id="username" align="right">Hello! 
</div>
<div>
	<ul>
		<li><a href="view/createAccount.html" target="mainframe">Create account</a></li>
		<li><a href="view/depositeWithdrawal.html" target="mainframe">Deposit/Withdrawal</a></li>
		<li><a href="view/fundTransfer.html" target="mainframe">Fund transfer</a></li>
		<li><a href="view/transactionSummary.html" target="mainframe">Transaction summary</a></li>
		<li><a href="Logout">Logout</a></li>
	</ul>
	
	<div id="mainframe">
		<iframe name="mainframe" width="800px" height="300px" src="titlePage.html"></iframe>
	</div>
</div>

</body>
</html>