<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>capgBanking</title>
<link type="text/css" rel="stylesheet" href="../style/style.css"></link>
</head>
<body>

<div>
	<table>
		<tr>
			<th colspan="3">Transaction Summary</th>
		</tr>
		<tr>
			<th>Transaction Id</th>
			<th>Transaction Date</th>
			<th>From</th>
			<th>To</th>
			<th>Type</th>
			<th>Amount</th>
			<th>Description</th>
		</tr>
		
		<tr>
			<td></td>
		</tr>
	
	</table>
</div>

<form action="../view/transactionSummary.html">
	<input type="submit" value="Back" class="button"> 
</form>
	
</body>
</html>